* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
}

.dark,
.light {
  min-height: 100vh;
}

.dark {
  background-color: #0f0f0f;
  color: white;
}

.light {
  background-color: white;
  color: black;
}
